In [70]:
import pandas as pd

In [71]:
#데이터 불러오기
df = pd.read_excel("C:/Users/tjoeun/Desktop/datafile/2007(1).xlsx")

c:\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [72]:
# 앞의 수식어 설명 제거
df.drop(range(15), axis=0, inplace =True)

In [73]:
# 첫번째 행을 column으로 지정
df2 = df.rename(columns = df.iloc[0])

In [74]:
# 컬럼 지정후 남는 행 지우기
df2.drop([15], axis=0,inplace =True)

In [75]:
# 인덱스 순서 초기화
df2 = df2.set_index('시군구').reset_index()

In [76]:
df2

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,141,0141,0000,개포주공1단지,56.57,200701,8,"135,000",3,1982,선릉로 7,NaN,-,-
1,서울특별시 강남구 개포동,141,0141,0000,개포주공1단지,42.55,200701,19,"75,000",5,1982,개포로 310,NaN,-,-
2,서울특별시 강남구 개포동,141,0141,0000,개포주공1단지,35.64,200701,29,"54,000",4,1982,개포로 310,NaN,-,-
3,서울특별시 강남구 개포동,141,0141,0000,개포주공1단지,41.98,200702,1,"70,000",4,1982,개포로 310,NaN,-,-
4,서울특별시 강남구 개포동,141,0141,0000,개포주공1단지,50.64,200702,2,"91,500",4,1982,개포로 310,NaN,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8140,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),59.76,200702,16,"17,500",2,1997,동일로 752,NaN,-,-
8141,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),84.69,200702,24,"30,700",15,1997,동일로 752,NaN,-,-
8142,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),50.37,200702,24,"15,000",16,1997,동일로 752,NaN,-,-
8143,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),84.03,200702,26,"30,000",2,1997,동일로 752,NaN,-,-
8144,서울특별시 중랑구 중화동,450,0450,0000,한신아파트(103~109),84.03,200702,26,"32,000",8,1997,동일로 752,NaN,-,-

In [77]:
df3=df2[['시군구','전용면적(㎡)','거래금액(만원)','층','건축년도']]

In [63]:
a = df2['계약년월']
b = df2['계약일']
c = []
for i in range(len(b)):
    if int(b[i]) <10:
        ans = str(a[i])+str('0')+str(b[i])
        c.append(ans)
    else:
        ans = str(a[i])+str(b[i])
        c.append(ans)

In [ ]:
df3['계약년월일'] = c

In [69]:
df3

                시군구 전용면적(㎡)        거래금액(만원)   층  건축년도     계약년월일
0     서울특별시 강남구 개포동   56.57         135,000   3  1982  20070108
1     서울특별시 강남구 개포동   42.55          75,000   5  1982  20070119
2     서울특별시 강남구 개포동   35.64          54,000   4  1982  20070129
3     서울특별시 강남구 개포동   41.98          70,000   4  1982  20070201
4     서울특별시 강남구 개포동   50.64          91,500   4  1982  20070202
...             ...     ...             ...  ..   ...       ...
8140  서울특별시 중랑구 중화동   59.76          17,500   2  1997  20070216
8141  서울특별시 중랑구 중화동   84.69          30,700  15  1997  20070224
8142  서울특별시 중랑구 중화동   50.37          15,000  16  1997  20070224
8143  서울특별시 중랑구 중화동   84.03          30,000   2  1997  20070226
8144  서울특별시 중랑구 중화동   84.03          32,000   8  1997  20070226

[8145 rows x 6 columns]